@media screen and (max-width: 1024px) {
    #main-content {
        margin-top: 10vh;
        width: 100%;
    }

    #presentation {
        width: 100vw;
        flex-direction: column;
    }

    #presentation-title {
        width: 80vw;
        text-align: center;
    }

    #about-us {
        flex-direction: column;
    }

    #about-us article img {
        margin-left: 0;
    }

    #about-us-content {
        margin-top: 2rem;
        max-width: 80vw;
    }

    #about-us-content header {
        display: flex;
        justify-content: center;
    }

    #mission {
        height: 100%;
    }

    #mission header {
        height: 8vh;
    }

    #mission-content {
        flex-direction: column;
        justify-content: space-between;
    }

}

@media screen and (max-width: 768px) {
    #main-header .main-menu {
        display: none;
    }

    .menu-icon-responsive {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-icon-responsive .icon-menu {
        position: fixed;
        right: 0;
    }

    .menu-responsive {
        position: fixed;
        display: flex;
        top: 10vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #CFE4C3;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .menu-responsive.active {
        opacity: 1;
    }

    .menu-responsive ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-responsive ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        width: 100vw;
    }

    .menu-responsive ul li a {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--title-color);
    }

    .menu-responsive ul li a:hover {
        color: #52b788;
    }

    #main-content {
        margin-top: 10vh;
        width: 100%;
    }

    #presentation {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    #presentation-title {
        width: 100vw;
        text-align: center;
    }

    #presentation-title {
        margin-left: 0;
    }

    #presentation #main-logo img {
        display: none;
    }

    #about-us {
        height: auto;
        flex-direction: column;
    }

    #about-us article img {
        margin-left: 0;
    }

    #about-us-content {
        margin-top: 2rem;
        max-width: 80vw;
    }

    #about-us-content header {
        display: flex;
        justify-content: center;
    }

    #mission {
        height: 100%;
    }

    #mission-content {
        flex-direction: column;
        justify-content: space-between;
    }

    #values #values-content section {
        width: 100vw;
    }

    #values #values-content section .values-content-title {
        margin-right: 0;
    }

    #values #values-content section .values-content-description {
        max-width: 60vw;
    }

    #services-content {
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        height: 85%;
    }

    #contact {
        height: auto;
    }

    #contact-content {
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    #contact-content section {
        margin: 1.5rem 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    #presentation {
        height: 60vh;
    }

    #presentation-title h1 {
        font-size: 2.5rem;
    }

    #about-us article img {
        height: 400px;
        width: 100%;
    }

    #about-us-content {
        margin-top: 0;
        max-width: 100vw;
    }

    #about-us-content header h1 {
        font-size: 2rem;
    }

    #about-us-content p {
        line-height: 1.2;
        text-align: left;
        font-size: 1.3rem;
    }

    #mission-content article img {
        margin: 0;
        height: 300px;
        width: 300px;
    }

    #mission-content article p {
        font-size: 1.3rem;
        line-height: 1.2;
        text-align: le;
        max-width: 25rem;
    }

    #services-content {
        display: flex;
        flex-direction: column;
    }

    #values {
        height: 80vh;
    }

    #values header {
        height: 5%;
    }

    #values #values-content {
        height: 90%;
        border: 1px solid white;
    }

    #values #values-content section {
        margin: 0;
        flex-direction: column;
        align-items: start;

    }

    #values #values-content section .values-content-title {
        max-width: 100%;
        margin-top: 0;

    }

    #values #values-content section .values-content-description p {
        font-size: 1.3rem;
        margin: 0;
        width: 100vw;

    }

    #services-content {
        display: grid;
        grid-template-columns: auto;
    }
    
    #contact-content section span {
        font-size: 1.3rem;
        margin: 0;
        column-gap: 1rem;

    }
}