* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;


    /* NEWS COLORS */
    --background-color: #D8F3DC;
    --title-color: #40916c;
    --title-color-color: #2D6A4F;

    --text-color: #74C69D;
}

*:focus {
    outline: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font: 16px 'Roboto', sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 0.5s ease;
    background-color: #CFE4C3;
}

#main-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-header nav ul li {
    display: inline;
    margin-right: 3rem;
}

#main-header nav ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--title-color);
}

#main-header nav ul li a:hover {
    color: #52b788;
}

.section-content {
    height: 80vh;
    width: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

#presentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#presentation-title {
    margin-left: 200px;
    width: 30vw;
}

#presentation-title h1{
    font-size: 4rem;
    font-weight: normal;
    color: var(--title-color);
}

#presentation #main-logo img{
    width: 700px;
}

#about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about-us article img {
    height: 500px;
    width: 450px;
    margin-left: 5rem;
}

#about-us-content {
    max-width: 30vw;
}

#about-us-content header {
    color: var(--title-color);
    margin-bottom: 2rem;
}

#about-us-content header h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

#about-us-content p {
    color: var(--text-color);
    line-height: 2;
    text-align: justify;
    font-size: 1.5rem;
}

#mission header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#mission header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#mission-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 85%;
}

#mission-content article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mission-content article img {
    margin: 3rem 0 2rem;
    height: 350px;
    width: 350px;
}

#mission-content article p {
    font-size: 1.3rem;
    color: #52b788;
    line-height: 1.8;
    text-align: center;
    max-width: 25rem;
}

#mission-regulation {
    background-color: #F7FDF3;
}

#mission-it-services {
    background-color: #ECF8E5;
}

#mission-development {
    background-color: #CFE4C3;
}

#values{
    background-color: #F7FDF3;
}

#values header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#values header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#values #values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}

#values #values-content section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
}

#values #values-content section .values-content-title {
    max-width: 25vw;
    margin-right: 10rem;
}

#values #values-content section .values-content-title h2{ 
    font-weight: normal;
    color: var(--title-color);
}

#values #values-content section .values-content-description {
    max-width: 40vw;
}

#values #values-content section .values-content-description p {
    color: var(--text-color);
    font-size: 1.6rem;
}

#services{
    background-color: #ECF8E5;
}

#services header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#services header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#services-content {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    height: 85%;
}

#services-content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--text-color);
}

#contact {
    height: 50vh;
    width: 100%;
    background-color: #CFE4C3;
}

#contact header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

}

#contact header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#contact-content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#contact-content section {
    margin: 0 5rem;
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-content section a img {
    height: 5rem;
    width: 5rem;
}

#contact-content section span {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    color: var(--title-color);
    margin: 0.5rem;
}