/* Estilos para telas menores, como tablets */
@media (max-width: 768px) {
    #main-header nav ul li {
        margin-right: 1.5rem;
        /* Reduza a margem entre os itens do menu */
    }

    #main-content {
        margin-top: 10vh;
        width: 100%;
    }

    #presentation {
        width: 100vw;
        flex-direction: column;
    }

    #presentation-title {
        width: 100vw;
        text-align: center;
    }

    #presentation #main-logo img {
        width: 700px;
    }

    #presentation-title {
        margin-left: 0;
    }

    #presentation #main-logo img {
        width: 100%;
    }

    #about-us {
        flex-direction: column;
    }

    #about-us article img {
        margin-left: 0;
    }

    #about-us-content {
        margin-top: 2rem;
        max-width: 80vw;
    }

    #about-us-content header {
        display: flex;
        justify-content: center;
    }
    
    #mission{
        height: 100%;
    }

    #mission-content {
        flex-direction: column;
        justify-content: space-between;
    }

    #values #values-content section {
        width: 100vw;
    }

    #values #values-content section .values-content-title {
        margin-right: 0;
    }

    #values #values-content section .values-content-description {
        max-width: 60vw;
    }
}