:root {
    /* NEWS COLORS */
    --background-color: #D8F3DC;
    --title-color: #40916c;
    --title-color-color: #2D6A4F;
    --text-color: #74C69D;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font: 16px 'Roboto', sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.menu-icon-responsive {
    display: none;
}

.hamburger-toggle {
    display: block;
    position: relative;
    background-color: #CFE4C3;
    width: 60px;
    height: 60px;
    margin: 50px auto;
    border-radius: 50%;
    border: none;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--title-color-color);
}

.hamburger-icon {
    top: calc(50% - 2px);
    left: calc(50% - 15px);
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    left: 0;
}

.hamburger-icon::before {
    bottom: 8px;
}

.hamburger-icon::after {
    top: 8px;
}

.toggled .hamburger-icon {
    height: 2px;
    width: 30px;
    left: 5px;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: var(--title-color-color);
}

.toggled .hamburger-icon::after {
    width: 30px;
    height: 2px;
    top: -0.5px;
    transform: rotate(-270deg);
    background-color: var(--title-color-color);
}

.toggled .hamburger-icon::before {
    transform: scale(0);
}

.hamburger-icon,
.hamburger-icon::after {
    transition: all 0.3s linear;
}

.section-content {
    height: 100vh;
    width: 100%;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #CFE4C3;
}

#main-header .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-header .main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-header .main-menu ul li {
    display: inline;
    margin-right: 3rem;
}

#main-header .main-menu ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--title-color);
}

#main-header .main-menu ul li a:hover {
    color: #52b788;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

#presentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#presentation-title {
    width: 40vw;
}

#presentation-title h1 {
    font-size: 4rem;
    font-weight: normal;
    color: var(--title-color);
}

#presentation #main-logo img {
    margin-right: 2rem;
    width: 500px;
}

#about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about-us article img {
    height: 500px;
    width: 450px;
    margin-left: 5rem;
}

#about-us-content {
    max-width: 30vw;
}

#about-us-content header {
    color: var(--title-color);
    margin-bottom: 2rem;
}

#about-us-content header h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

#about-us-content p {
    color: var(--text-color);
    line-height: 2;
    text-align: justify;
    font-size: 1.5rem;
}

#mission header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#mission header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#mission-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 85%;
}

#mission-content article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mission-content article img {
    margin: 2rem 0 2rem;
    height: 350px;
    width: 350px;
}

#mission-content article p {
    font-size: 1.6rem;
    color: #52b788;
    line-height: 1.8;
    text-align: center;
    max-width: 25rem;
}

#mission-regulation {
    background-color: #F7FDF3;
}

#mission-it-services {
    background-color: #ECF8E5;
}

#mission-development {
    background-color: #CFE4C3;
}

#values {
    background-color: #F7FDF3;
}

#values header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#values header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#values #values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}

#values #values-content section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
}

#values #values-content section .values-content-title {
    max-width: 25vw;
    margin-right: 10rem;
}

#values #values-content section .values-content-title h2 {
    font-weight: normal;
    color: var(--title-color);
}

#values #values-content section .values-content-description {
    max-width: 40vw;
}

#values #values-content section .values-content-description p {
    color: var(--text-color);
    font-size: 1.6rem;
}

#services {
    background-color: #ECF8E5;
}

#services header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#services header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#services-content {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    height: 85%;
}

#services-content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--text-color);
}

#contact {
    height: 30vh;
    width: 100%;
    background-color: #CFE4C3;

}

#contact header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

}

#contact header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--title-color);
}

#contact-content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-content section {
    margin: 3rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-content section a img {
    height: 5rem;
    width: 5rem;
}

#contact-content section span {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    color: var(--title-color);
    margin: 0.5rem;
}