* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    --main-color: #74C69D;
    --secondary-color: #40916C;
    --main-hover-color: #2D6A4F;
}

*:focus {
    outline: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font: 18px 'Roboto', sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

#main-header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    font-weight: bold;
    color: var(--main-color);
}

header nav ul li a:hover {
    color: var(--main-hover-color);
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

#presentation {
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#presentation-title {
    margin-left: 200px;
    width: 30vw;
    color: var(--secondary-color);
    font-size: 4rem;
}

#about-us {
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-us img {
    margin-left: 200px;
}

#about-us-content {
    width: 30vw;
    margin-right: 5vw;
}

#about-us-content header {
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

#about-us-content header h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

#about-us-content p {
    color: var(--main-color);
    line-height: 2;
    text-align: justify;
    font-size: 1.5rem;
}

#mission {
    height: 80vh;
    width: 80vw;
}

#mission header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#mission header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--secondary-color);
}

#mission-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 85%;
}

#mission-content article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mission-content img {
    margin: 5rem 0 2rem;
    height: 20rem;
    width: 20rem;
}

#mission-content p {
    color: var(--secondary-color);
    line-height: 2;
    text-align: center;
    width: 20rem;
}

#mission-regulation {
    background-color: #F7FDF3;
}

#mission-it-services {
    background-color: #ECF8E5;
}

#mission-development {
    background-color: #CFE4C3;
}

#values {
    height: 80vh;
    width: 80vw;
}

#values header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#values header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--secondary-color);
}

#values #values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}

#values #values-content section {
    display: flex;
    align-items: center;
}

#values #values-content section .values-content-title {
    width: 15vw;
    color: var(--secondary-color);
    margin-right: 15rem;
}

#values #values-content section .values-content-description {
    width: 35vw;
    display: flex;
}

#values #values-content section .values-content-description p {
    color: var(--main-color);
    font-size: 1.8rem;
}

#services {
    height: 80vh;
    width: 80vw;
}

#services header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#services header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--secondary-color);
}

#services-content {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    height: 85%;
}

#services-content article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    text-align: center;
    color: var(--main-color);
    font-size: 1.5rem;
}

#contact {
    height: 50vh;
    width: 100%;
    background-color: #ECF8E5;
}

#contact header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#contact header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--secondary-color);
}

#contact-content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-content section {
    margin: 0 5rem;
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-content section a img {
    height: 5rem;
    width: 5rem;
}

#contact-content section span {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    color: var(--main-color);
    margin: 0.5rem;
}